<ul class="ui-tabs-nav">
  <li><a href="#listTab">List</a></li>
  <li><a href="#imagesTab">Images</a></li>
  <li><a href="#iucnTab">IUCN</a></li>
  <li><a href="#dlTab">Download</a></li>
</ul>
<div id="listTab" class="ui-tabs-panel">Content.</div>
<div id="imagesTab" class="ui-tabs-panel">
  <div>
    <span id="imgTotals"></span>
    Source: <a href="http://eol.org/" target="_blank">Encyclopedia of Life</a>
  </div>
  <ul id="gallery" style="overflow: auto;"></ul>
</div>
<div id="iucnTab" class="ui-tabs-panel">IUCN.</div>
<div id="dlTab" class="ui-tabs-panel">Download.</div>
