<td class="arrowBox">
  <div class="arrow"></div>
</td>
<td class="wiki sci" value="<%= this.model.get('thumbsrc') %>">
  <%= this.model.get('scientificname') %>
</td>
<td class="wiki english"
    value="<%= this.model.get('imgsrc') %>"
    eol-page="<%= this.model.get('eol_page_id') %>">
  <%= this.model.get('english') || '' %>
</td>
<td class="wiki">
  <%= this.model.get('order') || '' %>
</td>
<td class="wiki">
  <%= this.model.get('family') || '' %>
</td>
<td>
  <%= this.model.get('sequenceid') || '' %>
</td>
<td class="iucn"
    data-scientificname="<%= this.model.get('scientificname') %>">
  <%= this.model.get('redlist') || '' %>
</td>
