
{% extends "base.html" %}

{% block content %}
  {% include "partials/header.html" %}
  <div class="container">
    <div class="dialog" id="dialog-login">
      <form action="/login" method="POST">
        <div class="dialog-header">Log in or create an account</div>
        <div class="dialog-content clearfix">
          <div class="separator clearfix buttons">
            <a href="/connect/facebook?callback=%2Fregister?provider=facebook" class="facebook social-button">
              <span class="fb-icon"></span>
              <span class="fb-name">Connect with Facebook</span>
            </a>
            <span class="login-or"></span>
            <a href="/connect/twitter?callback=%2Fregister?provider=twitter" class="twitter social-button">
              <span class="twitter-icon"></span>
              <span class="twitter-name">Connect with Twitter</span>
            </a>
          </div>      
          <div class="col-50 left">
            <div class="separator clearfix noline border-right">
              <input type="text" name="email" class="email" placeholder="Email" />
              <div class="input-icon icon-right">
                <input type="password" name="password" class="password" placeholder="Password" />
                <span class="icon attention" title=""></span>
              </div>
              <div class="login-submit">
                <input type="submit" class="button blue left" value="Log in" />
                <a class="right show-forgotpw">Forgot Password?</a>
              </div>
              <div class="forgotpw-submit">
                <input type="submit" class="button blue left" value="Reset password" name="forgot_password" />
                <a class="right cancel-forgotpw">Cancel</a>
              </div>
            </div>
          </div>
          <div class="col-50 left">
            <div class="separator clearfix noline mbottom border-left">
              <h3>Sign Up</h3>
              <p>Create a Wunderkit account and start working on amazing things with the help of your friends, family and colleagues.</p>
              <a class="button blue left" href="/register">Sign up</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
